html { /* [data-thema=green] */
  color: var(--main-color);
  background-color: var(--main-background-color);

  --dark-background-color: green;
  --dark-color: white;

  --light-1-background-color: rgb(225, 255, 225);
  --light-1-color: black;
  --light-1-shadow-color: #ccc;

  --light-2-background-color: rgb(245, 255, 245);
  --light-2-color: black;
  --light-2-shadow-color: #ccc;

  --main-border-color: rgb(205, 255, 205);
  --main-color: black;
  --main-background-color: white;
  --main-shadow-color: gray;

  --accented-color: black;
  --accented-border-color: green;
  --accented-background-color: transparent;

  --error-color: red;
  --error-background-color: transparent;

  --success-color: green;
  --success-background-color: transparent;

  --small-color: gray;
  --small-background-color: transparent;

  --link-color: rgb(0, 0, 238);
  --link-background-color: transparent;

  --visited-color: purple;
  --visited-background-color: transparent;
}

html[data-theme=blue] {
  --dark-background-color: #0c0ca9;
  --light-1-background-color: rgb(225, 225, 255);
  --light-2-background-color: rgb(245, 245, 255);
  --main-border-color: rgb(200, 200, 255);
  --accented-border-color: #0c0ca9;
}

html[data-theme=red] {
  --dark-background-color: #e40000;
  --light-1-background-color: rgb(255, 225, 225);
  --light-2-background-color: rgb(255, 245, 245);
  --main-border-color: rgb(255, 200, 200);
  --accented-border-color: #e40000;
}

html[data-theme=black] {
  --dark-background-color: #ddd;
  --dark-color: black;

  --light-1-background-color: #333;
  --light-1-color: #eee;
  --light-1-shadow-color: #666;

  --light-2-background-color: #444;
  --light-2-color: #eee;
  --light-2-shadow-color: #666;

  --main-border-color: gray;
  --main-color: #eee;
  --main-background-color: black;
  --main-shadow-color: #ddd;

  --accented-color: #eee;
  --accented-border-color: #eee;
  --accented-background-color: transparent;

  --error-background-color: red;
  --error-color: white;

  --success-background-color: green;
  --success-color: white;

  --link-color: #9595ff;
  --link-background-color: transparent;

  --visited-color: #e6b4e6;
  --visited-background-color: transparent;
}

body {
  margin: 0;
}

section {
  display: block;
  margin: 0 1em 1em 1em;
  padding: 0;
}

section > h1 {
  display: block;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid;
  border-color: var(--accented-border-color);
  padding: 0.3em;
  font-size: 130%;
  color: var(--accented-color);
  background-color: var(--accented-background-color);
}

section > * {
  margin-left: 1em;
  margin-right: 1em;
}

article {
  display: block;
}

main {
  display: block;
}

summary {
  padding: .5em;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

form {
  margin: 0 1em 1em;
  border: 1px solid;
  border-color: var(--main-border-color);
  color: var(--main-color);
  background-color: var(--main-background-color);
  padding: 1em;
}

.config {
  margin: 0;
  width: 90%;
}

.config th {
  width: 20%;
  text-align: right;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

.config th:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

.config th, .config td {
  padding: .4em .8em;
}

.operations {
  margin: 0;
  direction: rtl;
  text-align: right;
}

.operations > * {
  direction: ltr;
}

input:not([type]) {
  box-sizing: border-box;
  width: 100%;
  border: dotted 1px;
  border-color: var(--main-border-color);
  padding: .3em;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

input[type=date] {
  border: dotted 1px;
  border-color: var(--main-border-color);
  padding: .3em;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

select {
  color: var(--main-color);
  background-color: var(--main-background-color);
  min-width: 10em;
}

list-control {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: dotted 1px;
  border-color: var(--main-border-color);
  padding: .1em .3em;
  color: var(--main-color);
  background-color: var(--main-background-color);
  font-size: 80%;
}

list-control list-item {
  min-width: 10em;
  border-radius: .5em;
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
  font-size: 90%;
}

list-control list-item:nth-child(2n) {
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

list-control-main {
  display: block;
  min-height: 1.5em;
}

list-control-main:empty {
  content: attr(placeholder);
}

list-control-main list-item {
  display: inline-block;
  margin-right: .5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: .3em 1em;
  min-width: 4em;
  text-align: center;
}

list-dropdown:not([hidden]) {
  position: absolute;
  right: 0;
  display: block;
  border: solid 1px;
  border-color: var(--main-border-color);
  box-shadow: 3px 3px var(--main-shadow-color);
  color: var(--main-color);
  background-color: var(--main-background-color);
  min-width: 10em;
  max-height: 90vh;
  min-height: 10em;
  overflow: auto;
}

list-dropdown list-item {
  display: inline-block;
  margin: .25em;
}

list-dropdown list-item label {
  display: block;
  padding: .3em;
  cursor: pointer;
}

list-dropdown .add-form {
  display: table;
  width: 100%;
  margin: 0;
  border-style: none;
  padding: 0;
}

list-dropdown .add-form > span {
  display: table-cell;
}

list-control-footer {
  position: relative;
  display: block;
}

list-control-footer::after {
  display: block;
  clear: both;
  content: "";
}

list-control-footer .edit-button {
  float: right;
  margin-top: -1.5em;
  padding: .2em;
}

button:enabled {
  cursor: pointer;
}

.edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 1em;
  border-style: none;
  padding: .5em;
  min-width: 5em;
  color: black;
  background: rgba(236, 236, 255, 0.7);
}

.edit-button:hover:enabled {
  background: rgb(236, 236, 255);
}

.edit-button:disabled {
  color: gray;
}

.save-button, .cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: .2em .5em;
  border-style: none;
  padding: .5em;
  min-width: 8em;
}

.save-button {
  color: white;
  background: rgb(19, 195, 19);
}

.save-button:hover:enabled {
  background: rgba(19, 195, 19, 0.8);
}

.save-button:disabled {
  color: #eee;
}

.cancel-button {
  color: white;
  background: rgb(195, 19, 19);
}

.cancel-button:hover:enabled {
  background: rgba(195, 19, 19, 0.8);
}

.cancel-button:disabled {
  color: #eee;
}

a:link {
  color: var(--link-color);
  background-color: var(--link-background-color);
}

a:visited {
  color: var(--visited-color);
  background-color: var(--visited-background-color);
}

a:hover,
a:active {
  color: black;
  background: #ffa;
}

h1 a:link,
h1 a:visited {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

iframe.control[data-disabled] {
  pointer-events: none;
}

tag-list {
  display: block;
}

tag-list a {
  margin-right: .5em;
  text-decoration: none;
}

tag-list a::before {
  content: "#";
  padding-right: .2em;
}

tag-list a:hover,
tag-list a:active {
  text-decoration: underline;
}

list-container {
  display: block;
}

list-container > .operations {
  margin: 0 0.5em 0.5em 0.5em;
}

action-status {
  color: var(--small-color);
  background-color: var(--small-background-color);
  font-size: 90%;
}

list-container > action-status:not([hidden]) {
  display: block;
}

.operations action-status {
  unicode-bidi: embed;
}

.operations action-status > * {
  direction: ltr;
}

action-status-message {
  margin-left: .5em;
  margin-right: .5em;
  unicode-bidi: embed;
}

action-status[status=ok] action-status-message {
  background-color: var(--error-success-color);
  color: var(--success-color);
}

action-status[status=ng] action-status-message {
  background-color: var(--error-background-color);
  color: var(--error-color);
}

list-container > action-status progress {
  display: block;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
}

/*

Copyright 2016 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <http://www.gnu.org/licenses/>.

*/