@import 'base.css';

html {
  background: transparent;
  color: var(--main-color);
  line-height: 1.8;
}

html.editor {
  height: 100%;
}

body {
  padding: .5em;
  box-sizing: border-box;
  white-space: pre-wrap;
}

html.editor > body {
  min-height: 100%;
}

body[data-source-type="3"] {
  white-space: normal;
}

section > h1:not([hidden]),
hatena-html div.section > h3.title {
  border-style: var(--header3-border-style);
  border-width: var(--header3-border-width);
  border-color: var(--header3-border-color);
  padding: var(--header3-padding);
  background: var(--header3-background);
  color: var(--header3-color);
  min-height: var(--header3-min-height);
  box-sizing: border-box;
  text-align: var(--header3-align);
  font-size: 100%;
}

hatena-html div.section > h3.title {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
hatena-html div.section > p.sectionheader {
  border-style: var(--header3-border-style);
  border-width: var(--header3-border-width);
  border-color: var(--header3-border-color);
  padding: var(--header3-padding);
  margin-top: 0;
  border-top: none;
  padding-top: 0;
  margin-bottom: 1rem;
}

hatena-html div.section > p.sectionheader .timestamp {
  color: var(--small-color);
  background-color: var(--small-background-color);
  font-size: 90%;
  line-height: 1.0;
}

section section > h1:not([hidden]),
hatena-html h4 {
  border-style: var(--header4-border-style);
  border-width: var(--header4-border-width);
  border-color: var(--header4-border-color);
  padding: var(--header4-padding);
  background: var(--header4-background);
  color: var(--header4-color);
  min-height: var(--header4-min-height);
  box-sizing: border-box;
  text-align: var(--header4-align);
}

section section section > h1:not([hidden]),
hatena-html h5 {
  border-style: var(--header5-border-style);
  border-width: var(--header5-border-width);
  border-color: var(--header5-border-color);
  padding: var(--header5-padding);
  background: var(--header5-background);
  color: var(--header5-color);
  min-height: var(--header5-min-height);
  box-sizing: border-box;
  text-align: var(--header5-align);
}

section section section section > h1:not([hidden]),
hatena-html h6 {
  border-style: var(--header6-border-style);
  border-width: var(--header6-border-width);
  border-color: var(--header6-border-color);
  padding: var(--header6-padding);
  background: var(--header6-background);
  color: var(--header6-color);
  min-height: var(--header6-min-height);
  box-sizing: border-box;
  text-align: var(--header6-align);
}

ul, ol {
  margin: 0 1em;
  padding: 0 0 0 1.5em;
}

li {
  display: list-item;
  margin: 0;
  padding: 0;
}

li[data-checked] {
  text-decoration: line-through;
}

blockquote {
  margin: 1em;
  border-color: var(--enclosed-border-color);
  border-style: solid;
  border-width: 1px;
  padding: 0.5em 1em;
}

img {
  max-width: 100%;
}

hatena-html {
  white-space: normal;
}

hatena-html h4,
hatena-html h5,
hatena-html h6 {
  margin-top: 1.5em;
  font-size: 100%;
}

hatena-html section h1:empty::before {
  content: "■";
}

hatena-html p {
  margin: 0.6em 0;
}

hatena-html .okeyword {
  border-bottom: 1px dotted;
  padding-bottom: 0.03em;
  text-decoration: none;
}

hatena-html .okeyword:not(:hover):not(:focus):not(:active) {
  color: inherit;
  background: transparent;
}

/*

Copyright 2016-2019 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <https://www.gnu.org/licenses/>.

*/