@import 'base.css';

html {
  line-height: 1.8;
}

body {
  padding: .5em;
  white-space: pre-wrap;
}

menu.context {
  position: absolute;
  margin: 0;
  border: none;
  border-color: var(--light-1-border-color);
  padding: .5em;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
  box-shadow: 2px 2px var(--light-1-shadow-color);
  white-space: normal;
}

menu.context button {
  
}

ul, ol {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  display: list-item;
  margin: 0;
  padding: 0;
}

li[data-checked] {
  text-decoration: line-through;
}

img {
  max-width: 100%;
}

/*

Copyright 2016 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <http://www.gnu.org/licenses/>.

*/