html { /* [data-thema=green] */
  color: black;
  background-color: white;

  --dark-background-color: green;
  --dark-color: white;

  --light-1-background-color: rgb(225, 255, 225);
  --light-1-color: black;
  --light-1-shadow-color: #ccc;

  --light-2-background-color: rgb(245, 255, 245);
  --light-2-color: black;
  --light-2-shadow-color: #ccc;

  --main-border-color: rgb(205, 255, 205);
  --main-color: black;
  --main-background-color: white;

  --accented-color: black;
  --accented-border-color: green;
  --accented-background-color: transparent;

  --link-color: rgb(0, 0, 238);
  --link-background-color: transparent;

  --visited-color: purple;
  --visited-background-color: transparent;
}

html[data-theme=blue] {
  --dark-background-color: #0c0ca9;
  --light-1-background-color: rgb(225, 225, 255);
  --light-2-background-color: rgb(245, 245, 255);
  --main-border-color: rgb(200, 200, 255);
  --accented-border-color: #0c0ca9;
}

html[data-theme=red] {
  --dark-background-color: #e40000;
  --light-1-background-color: rgb(255, 225, 225);
  --light-2-background-color: rgb(255, 245, 245);
  --main-border-color: rgb(255, 200, 200);
  --accented-border-color: #e40000;
}

html[data-theme=black] {
  background-color: black;
  color: #eee;

  --dark-background-color: #ddd;
  --dark-color: black;

  --light-1-background-color: #333;
  --light-1-color: #eee;
  --light-1-shadow-color: #666;

  --light-2-background-color: #444;
  --light-2-color: #eee;
  --light-2-shadow-color: #666;

  --main-border-color: gray;
  --main-color: #eee;
  --main-background-color: black;

  --accented-color: #eee;
  --accented-border-color: #eee;
  --accented-background-color: transparent;

  --link-color: #9595ff;
  --link-background-color: transparent;

  --visited-color: #e6b4e6;
  --visited-background-color: transparent;
}

body {
  margin: 0 0 10em 0;
}

section {
  display: block;
  margin: 0 1em 1em 1em;
  padding: 0;
}

section > h1 {
  display: block;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid;
  border-color: var(--accented-border-color);
  padding: 0.3em;
  font-size: 130%;
  color: var(--accented-color);
  background-color: var(--accented-background-color);
}

section > * {
  margin-left: 1em;
  margin-right: 1em;
}

article {
  display: block;
}

main {
  display: block;
}

summary {
  padding: .5em;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

form {
  margin: 0 1em 1em;
  border: 1px solid;
  border-color: var(--main-border-color);
  color: var(--main-color);
  background-color: var(--main-background-color);
  padding: 1em;
}

.config {
  margin: 0;
  width: 90%;
}

.config th {
  width: 20%;
  text-align: right;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

.config th:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

.config th, .config td {
  padding: .8em;
}

.operations {
  margin: 0;
  direction: rtl;
  text-align: right;
}

input:not([type]) {
  box-sizing: border-box;
  width: 100%;
  border: dotted 1px;
  border-color: var(--main-border-color);
  padding: .5em;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

select {
  color: var(--main-color);
  background-color: var(--main-background-color);
  min-width: 10em;
}

button:enabled {
  cursor: pointer;
}

.edit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 1em;
  border-style: none;
  padding: .5em;
  min-width: 5em;
  color: black;
  background: rgba(236, 236, 255, 0.7);
}

.edit-button:hover:enabled {
  background: rgb(236, 236, 255);
}

.edit-button:disabled {
  color: gray;
}

.save-button, .cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: .2em .5em;
  border-style: none;
  padding: .5em;
  min-width: 8em;
}

.save-button {
  color: white;
  background: rgb(19, 195, 19);
}

.save-button:hover:enabled {
  background: rgba(19, 195, 19, 0.8);
}

.save-button:disabled {
  color: #eee;
}

.cancel-button {
  color: white;
  background: rgb(195, 19, 19);
}

.cancel-button:hover:enabled {
  background: rgba(195, 19, 19, 0.8);
}

.cancel-button:disabled {
  color: #eee;
}

a:link {
  color: var(--link-color);
  background-color: var(--link-background-color);
}

a:visited {
  color: var(--visited-color);
  background-color: var(--visited-background-color);
}

a:hover,
a:active {
  color: black;
  background: #ffa;
}

h1 a:link,
h1 a:visited {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

list-container {
  display: block;
}

list-container > .operations {
  margin: 0 0.5em 0.5em 0.5em;
}

header.cover h1 {
  font-size: 500%;
  text-align: center;
  color: rgb(0, 190, 0);
  background: transparent;
  text-shadow: 3px 3px rgb(200, 250, 200);
  font-family: cursive;
  font-style: italic;
}

header.cover h1::first-letter {
  color: green;
  background: transparent;
}

nav.cover {
  text-align: center;
}

header.common,
header.group {
  display: table;
  width: 100%;
  background: var(--dark-background-color);
  color: var(--dark-color);
}

header.common ~ *,
header.group ~ * {
  margin-top: 1rem;
}

header.common > header-area,
header.group > header-area {
  display: table-cell;
  padding: .2em .5em;
  font-size: 90%;
}

header.common > header-area + header-area,
header.group > header-area + header-area {
  text-align: right;
}


header.common > header-area > a,
header.group > header-area > a {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

header.common > header-area > a:hover,
header.group > header-area > a:hover,
header.common > header-area > a:active,
header.group > header-area > a:active {
  text-decoration: underline;
}

header.common > header-area > hgroup,
header.group > header-area > hgroup {
  display: block;
}

header.common > header-area > hgroup > h1,
header.group > header-area > hgroup > h1,
header.group > header-area > hgroup > h2 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 120%;
  font-weight: normal;
}

header.group > header-area > hgroup > h1::after {
  content: " :: ";
}

header.common > header-area > hgroup > * a,
header.group > header-area > hgroup > * a {
  color: inherit;
  background: transparent;
  text-decoration: none;  
}

header.common > header-area > hgroup > h1 > a,
header.group > header-area > hgroup > h1 > a {
  display: inline-block;
  font-family: cursive;
  font-style: italic;
}

header.group > header-area account-name::after {
  content: " ▶ ";
}

section.page {
  margin: 0;
}

section.page::after {
  display: block;
  content: "";
  clear: both;
}

section.page > header {
  display: block;
  margin: 0 0 1em 0;
  padding: 4em 2em 4em 2em;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

section.page > header h1 {
  margin: 0;
  font-size: 160%;
  text-shadow: 2px 2px var(--light-1-shadow-color);
}

section.page nav {
  display: block;
  float: right;
  margin: 2.5em 0 0 0;
  padding: .2em .5em;
  text-align: right;
  font-size: 90%;
}

section.page nav a {
  display: inline-block;
  padding: .2em;
  min-width: 5em;
  text-align: center;
  text-decoration: none;
}

section.page nav a:hover,
section.page nav a:active {
  text-decoration: underline;
}

section.page nav a.active {
  font-weight: bolder;
  color: inherit;
  background: transparent;
}

list-container[key=index_list] {
  display: block;
}

list-container[key=index_list] p {
  margin: 0;
}

list-container[key=index_list] a {
  display: block;
  padding: .5em;
  text-decoration: none;
}

list-container[key=index_list] a:not(:hover) {
  color: inherit;
  background: transparent;
}

list-container[key=index_list] a strong {
  text-decoration: underline;
  color: var(--link-color);
  background-color: var(--link-background-color);
}

list-container[key=index_list] a:visited strong {
  color: var(--visited-color);
  background-color: var(--visited-background-color);
}

list-container[key=index_list] a:hover strong,
list-container[key=index_list] a:active strong {
  color: inherit;
  background-color: transparent;
}

list-container[key=index_list] list-container[key=objects] {
  display: block;
  margin: 0.5rem 1rem;
  font-size: 80%;
}

list-container[key=index_list] list-container[key=objects] a {
  display: inline;
}

article.object:not([hidden]) {
  margin: 0 0.5em 1em 0.5em;
  border: 1px solid;
  border-color: var(--main-border-color);
  color: var(--main-color);
  background-color: var(--main-background-color);
  padding: .5em;
}

article.object:not(.editing)#new-object {
  display: none;
}

article.object.editing > *:not(edit-container) {
  display: none !important;
}

article.object.editing > edit-container {
  display: block;
}

article.object > header h1 {
  display: block;
  margin: 0;
  border-left: .3em solid;
  border-color: var(--accented-border-color);
  background-color: var(--accented-background-color);
  color: var(--accented-color);
  padding-left: .5em;
  font-size: 120%;
  line-height: 1.4;
}

edit-container [contenteditable] {
  border: 1px gray dotted;
  padding: .5em;
  line-height: 1.4;
  white-space: pre-wrap;
  max-height: 90vh;
  overflow: auto;
}

edit-container [contenteditable]:empty[data-placeholder]::after {
  content: attr(data-placeholder);
  color: gray;
  background: transparent;
}

edit-container p {
  margin: 0;
}

edit-container > form {
  border-style: none;
}

article.object > main,
edit-container [data-name=body] {
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 10em;
  white-space: pre-wrap;
  line-height: 1.5;
}

article.object > footer p,
edit-container > form > footer p {
  display: block;
  margin: 0;
  font-size: 90%;
  line-height: 1.0;
  text-align: right;
  color: gray;
  background: transparent;
}

list-container[key=members] table,
list-container[key=groups] table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

list-container[key=members] thead,
list-container[key=groups] thead {
  border-bottom: 3px solid;
  border-color: var(--accented-border-color);
}

list-container[key=members] thead th,
list-container[key=groups] thead th {
  color: var(--accented-color);
  background-color: var(--accented-background-color);
  font-weight: bolder;
}

list-container[key=members] th,
list-container[key=members] td,
list-container[key=groups] thead th,
list-container[key=groups] td {
  padding: .5em;
}

list-container[key=members] tbody tr,
list-container[key=groups] tbody tr {
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

list-container[key=members] tbody tr:nth-child(2n+1),
list-container[key=groups] tbody tr:nth-child(2n+1) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

list-container[key=groups] tbody th {
  padding: 0;
}

list-container[key=members] tbody th,
list-container[key=groups] tbody th {
  font-weight: normal;
  min-width: 20em;
  text-align: left;
}

list-container[key=members] tbody th a,
list-container[key=groups] tbody th a {
  display: block;
  padding: .5em;
}

list-container[key=members] td.user_status,
list-container[key=members] td.owner_status,
list-container[key=members] td.member_type,
list-container[key=groups] td.user_status,
list-container[key=groups] td.owner_status,
list-container[key=groups] td.member_type {
  text-align: center;
  min-width: 5em;
}

list-container[key=members] td.desc,
list-container[key=groups] td.desc {
  min-width: 10em;
}

list-container[key=members] tr:not(.editing) input,
list-container[key=members] tr:not(.editing) select,
list-container[key=members] tr:not(.editing) .save-button,
list-container[key=members] tr.editing enum-value,
list-container[key=members] tr.editing span[data-field=desc],
list-container[key=members] tr.editing .edit-button,
html:not([data-group-member-type="2"]) list-container[key=members] input[name=desc],
html[data-group-member-type="2"] list-container[key=members] tr.account-is-self select[name=user_status],
list-container[key=members] tr.account-is-self select[name=member_type],
list-container[key=members] tr.account-is-self select[name=owner_status] {
  display: none;
}

html:not([data-group-member-type="2"]) list-container[key=members] span[data-field=desc],
html[data-group-member-type="2"] list-container[key=members] tr.account-is-self enum-value[data-field=user_status],
list-container[key=members] tr.editing enum-value[data-field=member_type],
list-container[key=members] tr.editing enum-value[data-field=owner_status] {
  display: inline;
}

/*
list-container[key=members] td[data-value="1"],
list-container[key=groups] td[data-value="1"],
list-container[key=members] td[data-value="2"].member_type,
list-container[key=groups] td[data-value="2"].member_type {
  color: black;
  background: rgb(230, 255, 230);
}
*/

list-container[key=members] td[data-value]:not([data-value="1"]):not([data-value="2"]),
list-container[key=groups] td[data-value]:not([data-value="1"]):not([data-value="2"]) {
  color: black;
  background: rgb(255, 230, 230);
}

list-container[key=members] td[data-value="2"].member_type,
list-container[key=groups] td[data-value="2"].member_type {
  font-weight: bolder;
}

/*

Copyright 2016 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <http://www.gnu.org/licenses/>.

*/