@import 'base.css';

body {
  margin: 0 0 10em 0;
}

header.cover h1 {
  font-size: 500%;
  text-align: center;
  color: rgb(0, 190, 0);
  background: transparent;
  text-shadow: 3px 3px rgb(200, 250, 200);
  font-family: cursive;
  font-style: italic;
}

header.cover h1::first-letter {
  color: green;
  background: transparent;
}

nav.cover {
  text-align: center;
}

header.common,
header.group {
  display: table;
  width: 100%;
  background: var(--dark-background-color);
  color: var(--dark-color);
}

header.common ~ *,
header.group ~ * {
  margin-top: 1rem;
}

header.common > header-area,
header.group > header-area {
  display: table-cell;
  padding: .2em .5em;
  font-size: 90%;
}

header.common > header-area + header-area,
header.group > header-area + header-area {
  text-align: right;
}


header.common > header-area > a,
header.group > header-area > a {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

header.common > header-area > a:hover,
header.group > header-area > a:hover,
header.common > header-area > a:active,
header.group > header-area > a:active {
  text-decoration: underline;
}

header.common > header-area > popup-menu > button:not([hidden]):hover,
header.group > header-area > popup-menu > button:not([hidden]):hover,
header.common > header-area > popup-menu > button:not([hidden]):active,
header.group > header-area > popup-menu > button:not([hidden]):active,
header.common > header-area > popup-menu > button:not([hidden]):focus,
header.group > header-area > popup-menu > button:not([hidden]):focus {
  border-color: transparent;
  color: inherit;
  background-color: transparent;
  text-decoration: underline;
}

header.common > header-area > popup-menu > button::after,
header.group > header-area > popup-menu > button::after {
  display: inline-block;
  content: "⋁";
  margin-left: .5em;
  font-size: 60%;
  text-decoration: none;
}

header.common > header-area > hgroup,
header.group > header-area > hgroup {
  display: inline-block;
}

header.common > header-area > hgroup > h1,
header.group > header-area > hgroup > h1,
header.group > header-area > hgroup > h2 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 120%;
  font-weight: normal;
}

header.group > header-area > hgroup > h1::after {
  content: " :: ";
}

header.common > header-area > hgroup > * a,
header.group > header-area > hgroup > * a {
  color: inherit;
  background: transparent;
  text-decoration: none;  
}

header.common > header-area > hgroup > h1 > a,
header.group > header-area > hgroup > h1 > a {
  display: inline-block;
  font-family: cursive;
  font-style: italic;
}

header.group .search-form {
  display: inline-block;
  margin: 0;
  border-style: none;
  padding: 0;
  background: transparent;
  color: inherit;
}

section.page {
  margin: 0;
}

section.page::after {
  display: block;
  content: "";
  clear: both;
}

section.page > header {
  display: block;
  margin: 0 0 1em 0;
  border-bottom: 1px solid var(--accented-border-color);
  padding: 4em 2em 4em 2em;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

section.page > header h1 {
  margin: 0;
  font-size: 160%;
  text-shadow: 2px 2px var(--light-1-shadow-color);
}

section.page > header > popup-menu {
  display: block;
  float: right;
  margin: 2.5em 0 0 0;
  padding: .2em .5em;
  text-align: right;
  font-size: 90%;
}

section.page > footer {
  margin: 2em;
}

list-container.index-list {
  display: block;
}

list-container.index-list > list-main > list-item {
  display: block;
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

list-container.index-list > list-main > list-item:nth-child(2n) {
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

list-container.index-list a {
  display: block;
  padding: .5em;
  text-decoration: none;
}

list-container.index-list a:not(:hover) {
  color: inherit;
  background: transparent;
}

list-container.index-list a strong {
  text-decoration: underline;
  color: var(--link-color);
  background-color: var(--link-background-color);
}

list-container.index-list a:visited strong {
  color: var(--visited-color);
  background-color: var(--visited-background-color);
}

list-container.index-list a:hover strong,
list-container.index-list a:active strong {
  color: inherit;
  background-color: transparent;
}

list-container.index-list list-container[key=objects] {
  display: block;
  margin: 0.2rem 1rem;
  font-size: 80%;
}

list-container.index-list list-container[key=objects] a {
  display: inline-block;
}

article.object:not([hidden]) {
  margin: 0 0.5em 1em 0.5em;
  border: 1px solid;
  border-color: var(--main-border-color);
  color: var(--main-color);
  background-color: var(--main-background-color);
  padding: .5em;
}

article.object.new {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

article.object:not(.editing).new {
  border-style: none;
}

article.object.editing > *:not(edit-container) {
  display: none !important;
}

article.object.editing > edit-container {

}

article.object.editing > edit-container header {
}

article.object.editing > edit-container header > p {
  padding: 0;
}

article.object > header {
  position: relative;
  border-left: .3em solid;
  border-color: var(--accented-border-color);
  padding: .3em .5em;
}

article.object > header h1 {
  display: block;
  margin: 0;
  padding: 0;
  background-color: var(--accented-background-color);
  color: var(--accented-color);
  font-size: 120%;
  line-height: 1.4;
}

article.object > header h1 a {
  display: inline-block;
  min-width: 5em;
}

article.object > header popup-menu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 90%;
}

with-sidebar:not([hidden]) {
  display: table;
  width: 100%;
}

with-sidebar::after {
  display: block;
  content: "";
  clear: both;
}

with-sidebar > :not([hidden]):not(aside) {
  display: table-cell;
  vertical-align: top;
}

with-sidebar > aside:not([hidden]) {
  display: table-cell;
  width: 22em;
  vertical-align: top;
}

with-sidebar > aside > .panel:not([hidden]) {
  display: block;
  margin: 0 0 0 .5rem;
  border: 1px solid;
  border-color: var(--main-border-color);
  box-sizing: border-box;
  padding: .3rem;
  height: 100vh;
  overflow: auto;
}

edit-container > * > form {
  margin: 0;
  border-style: none;
  padding: 0;
}

edit-container iframe.control {
  border: 1px dotted;
  border-color: var(--main-border-color);
  box-sizing: border-box;
  width: 100%;
}

article.object > main {
  min-height: 10em;
  padding-left: .5em;
  padding-right: .5em;
}

article.object > main iframe {
  display: block;
  width: 100%;
  border-style: none;
}

edit-container main {
  padding: 0;
}

edit-container main > menu {
  margin: 0;
  padding: 0.2em 0 0 0;
}

edit-container main > menu button {
  border-style: none;
  background: transparent;
  color: inherit;
  font-size: 70%;
  min-width: 2em;
  min-height: 2em;
  vertical-align: middle;
}

edit-container main > menu button.active {
  background: var(--dark-background-color);
  color: var(--dark-color);
}

edit-container main > menu button:not(.active):hover,
edit-container main > menu button:not(.active):active {
  background: var(--toolbar-hover-background-color);
  color: var(--toolbar-hover-color);
}

edit-container footer {
  float: right;
}

article.object > footer p,
edit-container > form > footer p {
  display: block;
  margin: 0;
  font-size: 90%;
  line-height: 1.0;
  text-align: right;
  color: var(--small-color);
  background-color: var(--small-background-color);
}

article.object > footer index-list > * {
  margin-right: .5em;
}

article.object > footer index-list > .this-index {
  display: none;
}

article.object > .actions form {
  border-style: none;
}

list-container[key=objects] action-status {
  margin-left: 1em;
  margin-right: 1em;
}

list-container[key=objects] > list-is-empty > p {
  margin: 2em;
}

.comment-list article {
  margin: .5rem;
  border: 1px solid;
  border-color: var(--main-border-color);
  color: var(--main-color);
  background-color: var(--main-background-color);
}

.comment-list article > header {
  padding: .5rem;
  font-size: 80%;
  color: var(--light-1-color);
  background-color: var(--light-1-background-color);
}

.comment-list article > header .timestamp {
  color: var(--small-color);
  background-color: var(--small-background-color);
  text-decoration: none;
}

.comment-list main > iframe {
  border-style: none;
  width: 100%;
}

article-comments .actions form {
  margin: 0 .5rem;
}

article-comments .actions form textarea {
  width: 100%;
  min-height: 10em;
  line-height: 1.5;
}

list-container[key=members] td.user_status,
list-container[key=members] td.owner_status,
list-container[key=members] td.member_type,
list-container[key=groups] td.user_status,
list-container[key=groups] td.owner_status,
list-container[key=groups] td.member_type {
  text-align: center;
  min-width: 5em;
}

list-container[key=members] td.desc,
list-container[key=groups] td.desc {
  min-width: 10em;
}

list-container[key=members] tr:not(.editing) input,
list-container[key=members] tr:not(.editing) select,
list-container[key=members] tr:not(.editing) .save-button,
list-container[key=members] tr.editing enum-value,
list-container[key=members] tr.editing span[data-field=desc],
list-container[key=members] tr.editing .edit-button,
html:not([data-group-member-type="2"]) list-container[key=members] input[name=desc],
html[data-group-member-type="2"] list-container[key=members] tr.account-is-self select[name=user_status],
list-container[key=members] tr.account-is-self select[name=member_type],
list-container[key=members] tr.account-is-self select[name=owner_status] {
  display: none;
}

html:not([data-group-member-type="2"]) list-container[key=members] span[data-field=desc],
html[data-group-member-type="2"] list-container[key=members] tr.account-is-self enum-value[data-field=user_status],
list-container[key=members] tr.editing enum-value[data-field=member_type],
list-container[key=members] tr.editing enum-value[data-field=owner_status] {
  display: inline;
}

/*
list-container[key=members] td[data-value="1"],
list-container[key=groups] td[data-value="1"],
list-container[key=members] td[data-value="2"].member_type,
list-container[key=groups] td[data-value="2"].member_type {
  color: black;
  background: rgb(230, 255, 230);
}
*/

list-container[key=members] td[data-value]:not([data-value="1"]):not([data-value="2"]),
list-container[key=groups] td[data-value]:not([data-value="1"]):not([data-value="2"]) {
  color: black;
  background: rgb(255, 230, 230);
}

list-container[key=members] td[data-value="2"].member_type,
list-container[key=groups] td[data-value="2"].member_type {
  font-weight: bolder;
}

list-container .search-form {
  margin: 0;
  margin-bottom: 1em;
  border-style: none;
  padding: 0;
}

list-container .search-form input[type=search] {
  width: 90%;
}

list-container .search-form button {
  padding: .1em .5em;
  min-width: 5em;
}

list-container.object-search list-main {
  display: block;
  margin-bottom: 1em;
}

list-container.object-search list-item {
  display: block;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

list-container.object-search list-item:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

list-container.object-search list-item > a {
  display: block;
  padding: .5em;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

list-container.object-search list-item > a:link strong {
  background-color: var(--link-background-color);
  color: var(--link-color);
}

list-container.object-search list-item > a:visited strong {
  background-color: var(--visited-background-color);
  color: var(--visited-color);
}

list-container.object-search list-item > a:hover strong,
list-container.object-search list-item > a:active strong {
  background-color: var(--hover-background-color);
  color: var(--hover-color);
  text-decoration: underline;
}

list-container.object-search search-snippet {
  display: block;
  margin: .5rem .3rem 0 ;
  border-radius: .1rem;
  padding: .5rem;
  font-size: 90%;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.todo-list list-main {
  display: block;
}

.todo-list list-main > list-item {
  display: block;
  margin-bottom: .2em;
  border-radius: .2em;
  padding: .2em;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

.todo-list list-main > list-item:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

.todo-list list-main > list-item::after {
  content: "";
  clear: both;
  display: block;
}

.todo-list list-main > list-item > todo-state {
  float: left;
  margin-right: .5em;
  font-size: 70%;
}

.todo-list list-main > list-item .main-line {
}

.todo-list list-main > list-item .main-line a {
  display: block;
  padding-top: .3em;
  padding-bottom: .3em;
  font-weight: bolder;
}

.todo-list list-main > list-item .main-line a {
  text-decoration: none;
}

.todo-list list-main > list-item .info-line {
  font-size: 80%;
  margin-left: 5rem;
  padding-top: .3em;
  padding-bottom: .3em;
  background-color: var(--small-background-color);
  color: var(--small-color);
}

.todo-list list-main > list-item .info-line index-list a,
.todo-list list-main > list-item .info-line account-list a {
  margin-left: 1em;
  text-decoration: none;
}

.todo-list list-main > list-item .info-line checkbox-count:not([hidden]) {
  display: inline-block;
  min-width: 5em;
  margin-right: 1rem;
  vertical-align: middle;
}

.todo-list list-main > list-item .info-line checkbox-count > span {
  display: block;
  text-align: center;
  line-height: 1.0;
  font-size: 80%;
}

.todo-list list-main > list-item .info-line checkbox-count count-value {
  font-weight: bolder;
  font-family: cursive;
}

.todo-list list-main > list-item .info-line checkbox-count progress {
  display: block;
  width: 5rem;
  height: .6em;
  line-height: 1.0;
  font-size: 80%;
}

form[data-form-type=uploader].drop-target {
  background-color: var(--hover-background-color);
  color: var(--hover-color);
}

form[data-form-type=uploader] table {
  width: 100%;
  margin-bottom: 1em;
}

form[data-form-type=uploader] table thead tr {
  background-color: var(--dark-background-color);
  color: var(--dark-color);
}

form[data-form-type=uploader] table tbody tr {
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

form[data-form-type=uploader] table tbody tr:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

form[data-form-type=uploader] table th,
form[data-form-type=uploader] table td {
  padding: .3rem;
}

form[data-form-type=uploader] table td.file-size {
  text-align: right;
}

form[data-form-type=uploader] table action-status:not([hidden]) {
  display: block;
  margin: 0;
}

form[data-form-type=uploader] table action-status-message:not([hidden]) {
  display: block;
  margin: 0;
  line-height: 1.3;
}

form[data-form-type=uploader] table progress:not([hidden]) {
  display: block;
  width: 100%;
}

.todo-list .pager {
  margin-top: .5em;
}

.file-list list-main:not([hidden]) {
  display: block;
}

.file-list list-main > list-item:not([hidden]) {
  display: block;
  margin-bottom: .2em;
  border-radius: .2em;
  padding: .2em;
  line-height: 1.0;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

.file-list list-main > list-item:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

.file-list list-main > list-item::after {
  display: block;
  content: "";
  clear: both;
}

.file-list list-main > list-item popup-menu {
  float: right;
  font-size: 90%;
}

.file-list list-main > list-item .main-line {
  display: block;
  padding: 0;
  font-size: 110%;
}

.file-list list-main > list-item .main-line a {
  display: block;
  padding: .2rem;
}

.file-list list-main > list-item .info-line {
  display: block;
  margin-left: 5rem;
  padding: .2rem;
  font-size: 90%;
}

.file-list list-main > list-item .info-line a:not(:hover):not(:active) {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

.image-list list-main {
  display: block;
}

.image-list list-main > list-item {
  position: relative;
  display: inline-block;
  margin: 0 1em 1em 0;
  width: 13em;
}

.image-list list-main > list-item > popup-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.image-list list-main > list-item > figure {
  margin: 0;
}

.image-list list-main > list-item > figure > a {
  display: block;
  width: 13em;
  height: 13em;
  margin-bottom: .3em;
  line-height: 13em;
  text-align: center;
}

.image-list list-main > list-item > figure > a > img {
  max-width: 13em;
  max-height: 13em;
  object-fit: cover;
  vertical-align: middle;
}

list-is-empty:not([hidden]) {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 90%;
}

.panel.image-list list-container[key=index_list] {
  display: block;
  margin: 0;
}

.panel.image-list list-container[key=index_list] list-item {
  display: block;
  margin: 0;
  padding: 0;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
  width: auto;
}

.panel.image-list list-container[key=index_list] list-item:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

.panel.image-list list-container[key=index_list] list-item > button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border-style: none;
  padding: 0.3em;
  padding-left: 1.3em;
  color: inherit;
  background: transparent;
  width: 100%;
  text-align: left;
}

.panel.image-list list-container[key=index_list] list-item > button.active {
  text-indent: -1em;
  font-weight: bolder;
}

.panel.image-list list-container[key=index_list] list-item > button.active::before {
  content: "\0025C8  ";
}

.panel.image-list list-container[key=index_list] list-is-empty {
  margin: 0;
}

.panel.image-list panel-main:not([hidden]) {
  display: block;
  margin: 0;
  padding: .2rem;
  text-align: center;
}

.panel.image-list panel-main > details {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 80%;
}

.panel.image-list panel-main > details > summary {
}

.panel.image-list panel-main > details > form {
  margin: 0;
  padding: .2em;
  min-height: 10em;
}

.panel.image-list panel-main > details list-item {
  display: block;
  width: auto;
  margin: 0 0 .2em 0;
  padding: .4em;
  background-color: var(--light-1-background-color);
  color: var(--light-1-color);
}

.panel.image-list panel-main > details list-item:nth-child(2n) {
  background-color: var(--light-2-background-color);
  color: var(--light-2-color);
}

.panel.image-list panel-main > details list-item action-status:not([hidden]) {
  display: block;
  margin: .4em 0 0 0;
}

.panel.image-list panel-main > details list-item action-status action-status-message:not([hidden]) {
  display: block;
  margin: 0;
  padding: 0;
}

.panel.image-list panel-main > details list-item action-status progress:not([hidden]) {
  width: 100%;
}

.panel.image-list panel-main > list-container:not([hidden]) {
  display: inline;
  margin: 0;
}

.panel.image-list panel-main > list-container list-main:not([hidden]) {
  display: inline;
}

.panel.image-list panel-main > list-container list-main > list-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 6em;
  height: 6em;
}

.panel.image-list panel-main > list-container list-main > list-item button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border-style: none;
  padding: 0;
  color: inherit;
  background: transparent;
  width: 100%;
  min-height: 6em;
  line-height: 6;
}

.panel.image-list panel-main > details > summary:active,
.panel.image-list panel-main > details > summary:hover,
.panel.image-list panel-main > list-container list-main > list-item button:active,
.panel.image-list panel-main > list-container list-main > list-item button:hover {
  background-color: var(--toolbar-hover-background-color);
  color: var(--toolbar-hover-color);
}

.panel.image-list panel-main > list-container list-main > list-item img {
  max-width: 6em;
  max-height: 6em;
  vertical-align: middle;
}

.help p {
  text-indent: 1em;
  line-height: 2.0;
}

index-list-item .colored:not([hidden]) {
  display: inline-block;
  min-width: 4em;
  padding: .2em .5em;
  text-align: center;
  text-decoration: none;
}

run-action { display: none !important }

/*

Copyright 2016-2017 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <http://www.gnu.org/licenses/>.

*/